
.bluecity {

    background: black;
}

.blacksky {
    position: absolute;
    top: 50%;
    left: 50%;
}

.city {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
    background: black;
    position: relative;
    top: 100%;
    left: -10.5%;
}

.skyblock_one {
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 50vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -50.5%;
}

.skyblock_two {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 20vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -49.5%;
}

.skyblock_three {
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 35vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -30.5%;
}

.skyblock_four {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 25vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -20.5%;
}


.skyblock_five {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 10vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -15.5%;
}

.skyblock_six {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 30vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -10.5%;
}

.skyblock_seven {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 20vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -5.5%;
}

.skyblock_eight {
    margin: 0;
    padding: 0;
    width: 5vw;
    height: 40vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: -0.5%;
}

.skyblock_nine {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 25vh;
    background: blue;
    position: absolute;
    top: -100%;
    left: 20.5%;
}